/**
 * Mephits CMS
 * 
 * @package Mephitis
 * @author Feral Bytes https://www.feralbytes.ch
 * @copyright 2017 Feral Bytes
 * @license https://www.feralbytes.ch/index.php?show=licenses GNU Affero General Public License (AGPL) 3.0
 * 
 * @version 1.1
 **/

body {
	font-size: 12px;
	font-family: Arial,sans-serif;
	background: #EEF3E8; /* Old browsers */
/**	background: -moz-linear-gradient(top,  #e3e3e3 0%, #ccc 100%); /* FF3.6+ */
/**	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
/**	background: -webkit-linear-gradient(top,  #e3e3e3 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
/**	background: -o-linear-gradient(top,  #e3e3e3 0%,#ccc 100%); /* Opera 11.10+ */
/**	background: -ms-linear-gradient(top,  #e3e3e3 0%,#ccc 100%); /* IE10+ */
/**	background: linear-gradient(to bottom,  #e3e3e3 0%,#ccc 100%); /* W3C */
/**	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ccc',GradientType=1 ); /* IE6-9 */
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header {
	background: #EEF3E8; /* Old browsers */
/**	background: -moz-linear-gradient(top,  #e3e3e3 0%, #e3e3e3 100%); /* FF3.6+ */
/**	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
/**	background: -webkit-linear-gradient(top,  #e3e3e3 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
/**	background: -o-linear-gradient(top,  #e3e3e3 0%,#e3e3e3 100%); /* Opera 11.10+ */
/**	background: -ms-linear-gradient(top,  #e3e3e3 0%,#e3e3e3 100%); /* IE10+ */
/**	background: linear-gradient(to bottom,  #e3e3e3 0%,#e3e3e3 100%); /* W3C */
/**	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	height: 100px;
	padding: 10px;
	padding-left: 50px;
	
}

#wrap{
	width: 100%;
}

#wrap-page {
	padding: 0 15px;
}

.post, .fce_preview{
	border: 1px solid #3E6411;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px #5E971A;
}

.post_header, .fce_preview_header{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background: #C5D9AD; /* Old browsers */
	background: -moz-linear-gradient(top, #C5D9AD 0%, #5E971A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C5D9AD), color-stop(100%,#5E971A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #C5D9AD 0%,#5E971A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #C5D9AD 0%,#5E971A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #C5D9AD 0%,#5E971A 100%); /* IE10+ */
	background: linear-gradient(to bottom, #C5D9AD 0%,#5E971A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C5D9AD', endColorstr='#5E971A',GradientType=0 ); /* IE6-9 */
}

.post_header h1, .fce_preview_header h1{
	margin: 0px;
	font-size: 20px;
}

.post_body, .fce_preview_content{
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff !important;
	
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	box-shadow: inset 0 0 2px #a1a1a1;
}

.fce_selected, .selected{
	border: 1px solid #00ff00;
	box-shadow: 0 0 10px #00ff00;
}

.selected_to_delete, .fce_selected_to_delete{
	border: 1px solid #ff0000;
	box-shadow: 0 0 10px #ff0000;
}

.fce_select_actions{
	display: inline;
}

.fce_select_actions a{
	color: #00aa00;
	font-size: 14px;
}

.fce_name{
	float: left;
}

.fce_controlls{
	float: right;
}

.comment{
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px #AAA inset;
}

.comment_hidden{
	background: #97959f;
}

.comment_hidden:nth-child(odd){
	background: #97959f !important;
}

.comment_hidden:nth-child(even){
	background: #a7a5af !important;
}

.comment:nth-child(odd){
	background: #EFEFEF;
}

.comment:nth-child(even){
	background: #D8D8D8;
}

.comment:first-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.comment:last-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.comment .subject{
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #fff;
}

.comment .user_info{
	float: left;
	width: 10%;
	padding: 5px;
	font-weight: bold;
	font-size: 12px;
}

.comment .comment_post{
	float: left;
	width: 80%;
	padding: 5px;
}

.comment .info{
	padding: 5px;
	font-weight: bold;
	font-size: 12px;
}

.smilie_list_popup{
}

.smilie_list_popup td{
}

.navbar{

	background: #5E971A; /* Old browsers */
	background: -moz-linear-gradient(top, #5E971A 0%, #3E6411 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5E971A), color-stop(100%,#3E6411)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5E971A 0%,#3E6411 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5E971A 0%,#3E6411 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5E971A 0%,#3E6411 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5E971A 0%,#3E6411 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5E971A', endColorstr='#3E6411',GradientType=0 ); /* IE6-9 */
	border: 0;
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.nav > li > a {
	margin-left: 5px;
}

.nav li a:hover, .nav li a:focus {
	color:#fff;
	background-color:#5F981C;
	border-color:#aaa;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: transparent;
	color: #000;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #000;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color:#fff;
	background: #528417; /* Old browsers */
	background: -moz-linear-gradient(top, #528417 0%, #213608 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#528417), color-stop(100%,#213608)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #528417 0%,#213608 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #528417 0%,#213608 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #528417 0%,#213608 100%); /* IE10+ */
	background: linear-gradient(to bottom, #528417 0%,#213608 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#528417', endColorstr='#213608',GradientType=0 ); /* IE6-9 */
	border-color:#aaa;
}

ul.nav-tabs > li.active{
	background-color: transparent;
}

@media (max-width: 768px) {
	.nav > li > a {
		margin-left: 0px;	
	}
	
	li.active, li.active > a{
		color:#fff;
		background-color: transparent;
		border-color:#aaa;
	}
	
	.dropdown-submenu > .dropdown-menu {
		display: block;
	}
}

@media (min-width: 769px) {
	.nav > li > a {
		margin-left: 0px;
	/*	padding-top: 5px;
		padding-bottom: 5px;*/
	}
	.navbar{
		min-height: 10px !important;
	}
}

.nav .dropdown-menu{
	border-radius: 15px !important;
	padding: 5px;
}

.norm_tab{
}

.norm_tab tr:nth-child(even){
	background: #DEE0E0;
}

.norm_tab tr:nth-child(odd){
	background: #E9EAEA;
}

.norm_tab .head{
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff 0%, #ccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff 0%,#ccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff 0%,#ccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff 0%,#ccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
}

.norm_tab td{
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.carousel {
	margin: 0 -15px 20px;
}

.carousel-inner > .item {
	height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    margin: 0 auto;
	width: 100%;
}

.clearfix , .clear{
	clear: both;
}

.cms_content_tree, .cms_content_tree ul, .cms_content_tree ul li{
	list-style: none;
}

.cms_content_tree ul{
	padding-left: 20px;
}

.cms_content_tree ul li{
}

.cms_content_tree_dir{
	font-weight: bold;
}

.cms_content_tree_site{
}

.order_active{
}

.order_active a{
	color: blue;
}

.tinymce_uploader{
	padding: 10px;
}

.tinymce_uploader_thumb{
	float: left;
	margin: 0 2px 2px 0;
	padding: 5px;
	border: 1px solid #DDD;
	border-radius: 4px;
}

.tinymce_uploader_thumb img{
	margin-right: 5px;
}

.tinymce_uploader_thumb a{
	font-size: 10px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary{
	color: #333;
	background-color: #ccc;
	border-color: #aaa;
}

.mep_pagination{
	margin: 5px 0px;
}

.mep_pagination, .mep_pagination a, .mep_pagination .input-group, .mep_pagination .form-control, .mep_pagination .btn{
	height: 25px !important;
}

.mep_pagination > li > a, .mep_pagination .form-control, .mep_pagination .btn{
	padding: 2px 12px;
}

.btn-primary {
    color: #333;
    background-color: #ccc;
    border-color: #aaa;
}

#wrap{
	padding-bottom: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

.pagenav-top
{
	margin-bottom: -20px;
}

.pagenav-bottom
{
	margin-top: -20px;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #f5f5f5;
}