/**
 * Mephits CMS
 * 
 * @package Mephitis
 * @author Feral Bytes https://www.feralbytes.ch
 * @copyright 2017 Feral Bytes
 * @license https://www.feralbytes.ch/index.php?show=licenses GNU Affero General Public License (AGPL) 3.0
 * 
 * @version 1.1
 **/

body {
	font-size: 12px;
	font-family: Arial,sans-serif;
	background: #f5f5f5; /* Old browsers */
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrap{
	width: 100%;
}

#wrap-page {
	padding: 0 15px;
}

.post, .fce_preview{
/*	border: 1px solid #aaa; */
	border-radius: 5px;
	margin-bottom: 5px;
/*	box-shadow: 0 0 10px #fff; */
}

.post_header, .fce_preview_header{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #6990FF; /* Old browsers */
	background: -moz-linear-gradient(top, #6990FF 0%, #2B71FF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6990FF), color-stop(100%,#2B71FF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6990FF 0%,#2B71FF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6990FF 0%,#2B71FF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6990FF 0%,#2B71FF 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6990FF 0%,#2B71FF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6990FF', endColorstr='#2B71FF',GradientType=0 ); /* IE6-9 */	
	color: #FFF;
}

.post_header h1, .fce_preview_header h1{
	margin: 0px;
	font-size: 20px;
}

.post_body, .fce_preview_content{
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: inset 0 0 2px #6990FF;
}

.fce_selected, .selected{
	border: 1px solid #00ff00;
	box-shadow: 0 0 10px #00ff00;
}

.selected_to_delete, .fce_selected_to_delete{
	border: 1px solid #ff0000;
	box-shadow: 0 0 10px #ff0000;
}

.fce_select_actions{
	display: inline;
}

.fce_select_actions a{
	color: #00aa00;
	font-size: 14px;
}

.fce_name{
	float: left;
}

.fce_controlls{
	float: right;
}

.comment{
	padding-bottom: 10px;
}

.comment:nth-child(odd){
	background: #C8D6FF;
}

.comment:nth-child(even){
	background: #ECF0FF;
}

.comment:first-child{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.comment:last-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.comment .subject{
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #FFF;
}

.comment .user_info{
	float: left;
	width: 20%;
	padding: 5px;
}

.comment .comment_post{
	float: left;
	width: 80%;
	padding: 5px;
}

.comment .info{
	padding: 5px;
}

.smilie_list_popup{
}

.smilie_list_popup td{
}

.navbar{
	background: #6990FF; /* Old browsers */
	background: -moz-linear-gradient(top, #6990FF 0%, #2B71FF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6990FF), color-stop(100%,#2B71FF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6990FF 0%,#2B71FF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6990FF 0%,#2B71FF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6990FF 0%,#2B71FF 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6990FF 0%,#2B71FF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6990FF', endColorstr='#2B71FF',GradientType=0 ); /* IE6-9 */	
	border: 0;
	border-radius: 0;
}

.nav > li > a {
	margin-left: 5px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/*MOBILE START*/
@media (max-width: 769px) {
	.navbar-default .navbar-brand {
		color: #FFF;
	}

	.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
		color: #2961FF;
	}

	.navbar-default .navbar-toggle {
		border-color: #fff;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: #2961FF;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #FFF;
		background-color: #2961FF;
	}

	.navbar-nav .open .dropdown-menu {
		background-color: #F5F5F5;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #333;
	}
	
	#wrap{
		padding-bottom: 20px;
		width: 100%;
		margin: auto;
	}
}

/*MOBILE END*/

.nav > li {
	margin: 0px 5px 0px 5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFF;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FFF;
	background-color:#2961FF;
	border-color:#aaa;
	border-radius: 20px;
}

.nav li a:hover, .nav li a:focus {
	color:#fff;
	background-color:#2961FF;
	border-color:#aaa;
	border-radius: 5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	background-color: transparent;
}

li.active, li.active > a{
	color:#fff;
	background-color:#0042FF !important;	
/*	border-color:#aaa;*/
	border-radius: 20px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	border-color:transparent;
	color: #FFF;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:active, .nav-tabs > li > a:focus {
    margin-right: 2px;
    border: 1px solid rgba(20, 20, 20, 0.26);
    border-radius: 20px;
	border-radius: 20px 20px 0px 0px;
	border-bottom: 0px none !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a {
	border-radius: 5px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
	background-color:#2961FF;
	border-color:#aaa;
	border-radius: 20px;
}

ul.nav-tabs > li.active{
	background-color: transparent !important;
	border: 0;
}

@media (max-width: 768px) {
	.nav > li > a {
		margin-left: 0px;
	}
	li.active, li.active > a{
		color:#fff;
		background-color: transparent;
		border-color:#aaa;
	}
	.dropdown-submenu > .dropdown-menu {
		display: block;
	}
}

/*DESKTOP START*/
@media (min-width: 769px) {
	.nav > li > a {
		margin-left: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.navbar{
		min-height: 10px !important;
	}

	.navbar-nav {
		float: left;
		margin: 7.5px -15px;
			margin-top: 7.5px;
			margin-right: -15px;
			margin-bottom: 7.5px;
			margin-left: -15px;
	}

	#wrap{
		padding-bottom: 20px;
		width: 80%;
		margin: auto;
	}
}

/*DESKTOP END*/

.nav .dropdown-menu{
	border-radius: 15px !important;
	padding: 5px;
}

.norm_tab{
}

.norm_tab tr:nth-child(even){
	background: #DEE0E0;
}

.norm_tab tr:nth-child(odd){
	background: #E9EAEA;
}

.norm_tab .head{
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff 0%, #ccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff 0%,#ccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff 0%,#ccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff 0%,#ccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
}

.norm_tab td{
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.carousel {
	margin: 0 -15px 20px;
}

.carousel-inner > .item {
	height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    margin: 0 auto;
	width: 100%;
}

.clearfix , .clear{
	clear: both;
}

.cms_content_tree, .cms_content_tree ul, .cms_content_tree ul li{
	list-style: none;
}

.cms_content_tree ul{
	padding-left: 20px;
}

.cms_content_tree ul li{
}

.cms_content_tree_dir{
	font-weight: bold;
}

.cms_content_tree_site{
}

.order_active{
}

.order_active a{
	color: blue;
}

.mep_pagination{
	display: inline-block;
}

.tinymce_uploader{
	padding: 10px;
}

.tinymce_uploader_thumb{
	float: left;
	margin: 0 2px 2px 0;
	padding: 5px;
	border: 1px solid #DDD;
	border-radius: 4px;
}

.tinymce_uploader_thumb img{
	margin-right: 5px;
}

.tinymce_uploader_thumb a{
	font-size: 10px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary{
	color: #333;
	background-color: #ccc;
	border-color: #aaa;
}

.btn-primary {
    color: #333;
    background-color: #ccc;
    border-color: #aaa;
}

html {
  position: relative;
  min-height: 100%;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #f5f5f5;
}

.header {
	height: 142px;
	position:relative;
	background-color: #6990FF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: block;
	color:inherit;
	text-decoration: none;
}
.header > h1 {
	color: #fff;
	font-size: 80px;
	text-shadow: 0 0 2px #000;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 10px;
}
.header > .line {
	position:absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	font-weight: bold;
	background: rgba(255,255,255,0.6);
	border-top: 2px solid rgba(0,0,0,0.6);
}

.header > .line > p{
	text-decoration: none;
	font-color: #000;
	padding: 5px 20px 5px 20px;
	margin: 0;		
}

.container{
	width: 100% !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 { 
	padding: 0;
	margin: 0;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #FFF;
    border-color: #AAA;
	border-radius: 0px;
}

.pagination > li > a, .pagination > li > span {
    color: #0042FF;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #E3E3E3;
}

.mep_pagination{
	margin: 5px 0px;
}

.mep_pagination, .mep_pagination a, .mep_pagination .input-group, .mep_pagination .form-control, .mep_pagination .btn{
	height: 25px !important;
}

.mep_pagination > li > a, .mep_pagination .form-control, .mep_pagination .btn{
	padding: 2px 12px;
}

.badge {
	background-color: #0042FF;
}

.pagenav-top
{
	margin-bottom: -20px;
}

.pagenav-bottom
{
	margin-top: -20px;
}