/**
 * Mephits CMS
 * 
 * @package Mephitis
 * @author Feral Bytes https://www.feralbytes.ch
 * @copyright 2017 Feral Bytes
 * @license https://www.feralbytes.ch/index.php?show=licenses GNU Affero General Public License (AGPL) 3.0
 * 
 * @version 1.1
 **/

#wrap{
	width: 100%;
	min-height: 100vh;
}

#wrap-page {
	padding: 0 15px;
	min-height: 568px;
}

.open{
	display: block;
}

.closed{
	display: none;
}

.controll_icon{
	float: right;
}

.container{
	padding: 0;
	width: 100%;
}

li ul{
	padding-left: 20px !important;
}

.navbar-top-links{
	margin-right: 10px;
	margin-top: 10px;
}

.navbar-top-links > li{
	display: inline-block;
}

.navbar-top-links li ul{
	padding-left: 5px !important;
}

@media(min-width:768px) {
	#wrap-page {
		position: inherit;
		margin: 0 0 0 250px;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
	
	.pageContent{
		border-left: 1px solid #e7e7e7;
	}
	
	.sidebarnav {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 51px;
	}
}
