/**
 * Mephits CMS
 * 
 * @package Mephitis
 * @author Feral Bytes https://www.feralbytes.ch
 * @copyright 2017 Feral Bytes
 * @license https://www.feralbytes.ch/index.php?show=licenses GNU Affero General Public License (AGPL) 3.0
 * 
 * @version 1.1
 **/

body {
	font-size: 12px;
	font-family: Arial,sans-serif;
	background: #f5f5f5; /* Old browsers */
/**	background: -moz-linear-gradient(top,  #e3e3e3 0%, #ccc 100%); /* FF3.6+ */
/**	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
/**	background: -webkit-linear-gradient(top,  #e3e3e3 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
/**	background: -o-linear-gradient(top,  #e3e3e3 0%,#ccc 100%); /* Opera 11.10+ */
/**	background: -ms-linear-gradient(top,  #e3e3e3 0%,#ccc 100%); /* IE10+ */
/**	background: linear-gradient(to bottom,  #e3e3e3 0%,#ccc 100%); /* W3C */
/**	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ccc',GradientType=1 ); /* IE6-9 */
	height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header {
	background: #f5f5f5; /* Old browsers */
/**	background: -moz-linear-gradient(top,  #e3e3e3 0%, #e3e3e3 100%); /* FF3.6+ */
/**	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
/**	background: -webkit-linear-gradient(top,  #e3e3e3 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
/**	background: -o-linear-gradient(top,  #e3e3e3 0%,#e3e3e3 100%); /* Opera 11.10+ */
/**	background: -ms-linear-gradient(top,  #e3e3e3 0%,#e3e3e3 100%); /* IE10+ */
/**	background: linear-gradient(to bottom,  #e3e3e3 0%,#e3e3e3 100%); /* W3C */
/**	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	height: 100px;
	padding: 10px;
	padding-left: 50px;
	
}

#wrap{
	width: 100%;
	overflow-x: hidden;
}

#wrap-page {
	padding: 0 15px;
}

.post{
	border: 1px solid #aaa;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 0 10px #fff;
	
	.post_header{
		text-align: center;
		font-weight: bold;
		font-size: 15px;
		padding: 5px;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		background: #f5f5f5; /* Old browsers */
		background: -moz-linear-gradient(top, #f5f5f5 0%, #ccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f5f5f5 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f5f5f5 0%,#ccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #f5f5f5 0%,#ccc 100%); /* IE10+ */
		background: linear-gradient(to bottom, #f5f5f5 0%,#ccc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
		
		h1{
			margin: 0px;
			font-size: 20px;
		}
	}
	
	.post_body{
		padding: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #fff !important;
		
		border-bottom-left-radius: 9px;
		border-bottom-right-radius: 9px;
		box-shadow: inset 0 0 2px #a1a1a1;
	}
	
}

.selected{
	border: 1px solid #00ff00;
	box-shadow: 0 0 10px #00ff00;
}

.selected_to_delete, .fce_selected_to_delete{
	border: 1px solid #ff0000;
	box-shadow: 0 0 10px #ff0000;
}


.comment{
	margin-bottom: 10px;
	box-shadow: 0px 0px 5px #AAA inset;
	
	&.comment_hidden{
		background: #97959f;
		
		&:nth-child(odd){
			background: #97959f !important;
		}

		&:nth-child(even){
			background: #a7a5af !important;
		}
		
	}

	&:nth-child(odd){
		background: #EFEFEF;
	}

	&:nth-child(even){
		background: #D8D8D8;
	}

	&:first-child{
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	&:last-child{
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.subject{
		padding: 5px;
		font-weight: bold;
		font-size: 14px;
		border-bottom: 1px solid #fff;
	}

	.user_info{
		float: left;
		width: 10%;
		padding: 5px;
		font-weight: bold;
		font-size: 12px;
	}

	.comment_post{
		float: left;
		width: 80%;
		padding: 5px;
	}

	.info{
		padding: 5px;
		font-weight: bold;
		font-size: 12px;
	}
	
}


.navbar{

	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f5f5 0%, #ccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f5f5 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f5f5 0%,#ccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f5f5 0%,#ccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f5f5 0%,#ccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
	border: 0;
	border-radius: 0;
}

.nav > li > a {
	margin-left: 5px;
}

.nav li a:hover, .nav li a:focus {
	color:#fff;
	background-color:#aaa;
	border-color:#aaa;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: transparent;
}

li.active, li.active > a{
	color:#fff;
	background-color:#aaa;
	border-color:#aaa;
}

ul.nav-tabs > li.active{
	background-color: transparent;
}

@media (max-width: 768px) {
	.nav > li > a {
		margin-left: 0px;	
	}
	
	li.active, li.active > a{
		color:#fff;
		background-color: transparent;
		border-color:#aaa;
	}
	
	.dropdown-submenu > .dropdown-menu {
		display: block;
	}
}

@media (min-width: 769px) {
	.nav > li > a {
		margin-left: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.navbar{
		min-height: 10px !important;
	}
}

.nav .dropdown-menu{
	border-radius: 15px !important;
	padding: 5px;
}

.norm_tab{

	tr{
		&:nth-child(even){
			background: #DEE0E0;
		}

		&:nth-child(odd){
			background: #E9EAEA;
		}
	}

	.head{
		background: #fff; /* Old browsers */
		background: -moz-linear-gradient(top,  #fff 0%, #ccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fff 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fff 0%,#ccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fff 0%,#ccc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fff 0%,#ccc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
	}

	td{
	}

}



.dropdown-submenu {
    position: relative;
	
	&>.dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px;
		border-radius: 0 6px 6px 6px;
	}

	&:hover>.dropdown-menu {
		display: block;
	}

	&>a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #ccc;
		margin-top: 5px;
		margin-right: -10px;
	}

	&:hover>a:after {
		border-left-color: #fff;
	}

	&.pull-left {
		float: none;
	}

	&.pull-left>.dropdown-menu {
		left: -100%;
		margin-left: 10px;
		-webkit-border-radius: 6px 0 6px 6px;
		-moz-border-radius: 6px 0 6px 6px;
		border-radius: 6px 0 6px 6px;
	}
	
}

.carousel {
	margin: 0 -15px 20px;
	
	.carousel-inner{
		& > .item{
			height: 300px;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			
			img,
			a > img{
				margin: 0 auto;
				width: 100%;
			}
			
		}
	}
	
}


.clearfix , .clear{
	clear: both;
}

.cms_content_tree{
	list-style: none;
	ul{
		list-style: none;
		padding-left: 20px;
		li{
			list-style: none;
		}
	}
}

.cms_content_tree_dir{
	font-weight: bold;
}

.cms_content_tree_site{
}


.tinymce_uploader{
	padding: 10px;
}

.tinymce_uploader_thumb{
	float: left;
	margin: 0 2px 2px 0;
	padding: 5px;
	border: 1px solid #DDD;
	border-radius: 4px;
}

.tinymce_uploader_thumb img{
	margin-right: 5px;
}

.tinymce_uploader_thumb a{
	font-size: 10px;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary{
	color: #333;
	background-color: #ccc;
	border-color: #aaa;
}

.mep_pagination{
	margin: 5px 0px;
}

.mep_pagination, .mep_pagination a, .mep_pagination .input-group, .mep_pagination .form-control, .mep_pagination .btn{
	height: 25px !important;
}

.mep_pagination > li > a, .mep_pagination .form-control, .mep_pagination .btn{
	padding: 2px 12px;
}

.btn-primary {
    color: #333;
    background-color: #ccc;
    border-color: #aaa;
}

#wrap{
	padding-bottom: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

.pagenav-top
{
	margin-bottom: -20px;
}

.pagenav-bottom
{
	margin-top: -20px;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: #f5f5f5;
}